---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: project2-email
  labels:
    app: emailapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: emailapp
  template:
    metadata:
      labels:
        app: emailapp
    spec:
      containers:
        - image: keoffor/project2-email:%TAG%
          imagePullPolicy: Always
          name: project2-container
          ports:
            - containerPort: 4000

---
apiVersion: v1
kind: Service
metadata:
  name: project2-service
spec:
  selector:
    app: projectpod
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
  #  clusterIP: 10.0.171.239
  type: LoadBalancer
status:
  loadBalancer:
    ingress:
      - ip: 192.0.2.127

